#input {
	border: 1px solid black;
	border-radius: 5px;
}

#standing {
	float:left;
	border: 1px solid black;
	border-radius: 5px;
}

.player {
	float: left;
	text-align: center;
}

.player .name {
	font-size: 20pt;
	font-weight: bold;
	padding: 0 20px;
	border-bottom: 1px solid black;
}

.player.current .name{
	color: green;
	background: black;
}


#player0 {
	border-right: 1px solid black;
}

